# Project exclude paths
/common-spring-boot-starter-logging/target/
/service/target/
/target/

# IntelliJ project files
.idea
*.iml
out
gen

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
