<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>LoginPage</title>
    </head>
    <body>
    <div th:insert="~{fragment :: locale}"></div>
    <form th:action="@{/login}" method="post">
            <div style="color: red" th:if="${param.error}">
                <span th:text="#{login.badCredentials}">Bad credentials</span>
            </div>
            <label for="username"><span th:text="#{login.email}">Email:</span>
                <input id="username" type="text" name="username">
            </label><br>
            <label for="password"><span th:text="#{login.password}">Password:</span>
                <input id="password" type="password" name="password">
            </label><br>
            <button type="submit"><span th:text="#{login}">Login</span></button>
        </form>
        <div><span th:text="#{loginWith}">Login with:</span></div>
        <a href="/oauth2/authorization/google">Google</a>
        <form action="/users/registration">
            <button type="submit"><span th:text="#{registration}">Registration</span></button>
        </form>
    </body>
</html>