<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Users</title>
    </head>
    <body>
        <div th:insert="~{fragment :: header}"></div>
        <form action="/users">
            <label for="email"><span th:text="#{login.email}">Email:</span>
                <input id="email" type="text" name="email" th:value="${filter.email()}">
            </label>
            <div th:each="role : ${roles}"><span th:text="#{role}">Role</span>
                <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == filter.role()}">
                <label th:for="${role}" th:text="${role}">Role name</label>
            </div>
            <input id="ALL" type="radio" name="role" value="" th:checked="${null == filter.role()}">
            <label for="ALL" th:text="ALL">Role name</label><br>
            <label for="firstname"><span th:text="#{userDetails.firstname}">Firstname:</span>
                <input id="firstname" type="text" name="firstname" th:value="${filter.firstname()}">
            </label>
            <label for="lastname"><span th:text="#{userDetails.lastname}">Lastname:</span>
                <input id="lastname" type="text" name="lastname" th:value="${filter.lastname()}">
            </label>
            <label for="patronymic"><span th:text="#{userDetails.patronymic}">Patronymic:</span>
                <input id="patronymic" type="text" name="patronymic" th:value="${filter.patronymic()}">
            </label>
            <label for="phone"><span th:text="#{userDetails.phone}">Phone:</span>
                <input id="phone" type="text" name="phone" th:value="${filter.phone()}">
            </label>
            <div>
                <label for="page"><span th:text="#{page}">Page:</span>
                    <input id="page" type="number" name="page" th:value="${users.metadata.page}">
                </label>
                <label for="size"><span th:text="#{size}">Size:</span>
                    <input id="size" type="number" name="size" th:value="${users.metadata.size}">
                </label>
            </div>
            <button type="submit"><span th:text="#{filter}">Filter</span></button>
        </form>
        <a href="/authors"><span th:text="#{author.authors}">Authors</span></a><br>
        <a href="/books"><span th:text="#{book.books}">Books</span></a><br>
        <a href="/users"><span th:text="#{user.users}">Users</span></a><br>
        <a href="/orders"><span th:text="#{order.orders}">Orders</span></a><br>
        <div th:each="user : ${users.getContent()}" th:if="${user.userDetails != null}">
            <a th:href="@{'/users/' + ${user.id}}" th:text="|${user.id} ${user.email} ${user.fullName()}|">Users</a>
        </div>
        <div th:each="user : ${users.getContent()}" th:if="${user.userDetails == null}">
            <a th:href="@{'/users/' + ${user.id}}" th:text="|${user.id} ${user.email}|">Users</a>
        </div>
    </body>
</html>