<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>userAddress</title>
  </head>
  <body>
    <form th:action="@{/userAddress/create}" method="post">
      <input id="userId" type="hidden" name="userId" th:value="${userId}" readonly>
      <label for="region"><span th:text="#{userAddress.region}">Region:</span>
        <input id="region" type="text" name="region">
      </label><br>
      <label for="district"><span th:text="#{userAddress.district}">District:</span>
        <input id="district" type="text" name="district">
      </label><br>
      <label for="populationCenter"><span th:text="#{userAddress.populationCenter}">PopulationCenter:</span>
        <input id="populationCenter" type="text" name="populationCenter">
      </label><br>
      <label for="street"><span th:text="#{userAddress.street}">Street:</span>
        <input id="street" type="text" name="street">
      </label><br>
      <label for="house"><span th:text="#{userAddress.house}">House:</span>
        <input id="house" type="text" name="house">
      </label><br>
      <label for="isPrivate"><span th:text="#{userAddress.isPrivate}">My house is</span>
        <select name="isPrivate" id="isPrivate">
          <option th:value="true" selected th:text="'private'">
          <option th:value="false" th:text="'an apartment building'">
        </select>
      </label><br>
      <label for="frontDoor"><span th:text="#{userAddress.frontDoor}">FrontDoor:</span>
        <input id="frontDoor" type="number" name="phone">
      </label><br>
      <label for="floor"><span th:text="#{userAddress.floor}">Floor:</span>
        <input id="floor" name="phone">
      </label><br>
      <label for="flat"><span th:text="#{userAddress.flat}">Flat:</span>
        <input id="flat" type="number" name="flat">
      </label><br>
      <button type="submit"><span th:text="#{create}">Create</span></button>
    </form>
  </body>
</html>