<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>book</title>
    </head>
    <body>
        <form th:action="@{/books/create}" enctype="multipart/form-data" method="post"  >
            <label for="name"><span th:text="#{book.name}">Name:</span>
                <input id="name" type="text" name="name" required>
            </label><br>
            <label for="description"><span th:text="#{book.description}">Description:</span>
                <input id="description" type="text" name="description">
            </label><br>
            <label for="image"><span th:text="#{image}">Image:</span>
                <input id="image" type="file" name="image">
            </label><br>
            <label for="price"><span th:text="#{order.price}">Price:</span>
                <input id="price" type="number" name="price" required min="0" value="0" step=".01">
            </label><br>
            <label for="quantity"><span th:text="#{book.quantity}">Quantity:</span>
                <input id="quantity" type="number" name="quantity" required>
            </label><br>
            <label for="issueYear"><span th:text="#{book.issueYear}">Issue year:</span>
                <input id="issueYear" type="number" name="issueYear" required min="0" max="2023">
            </label><br>
            <button type="submit"><span th:text="#{create}">Create</span></button>
        </form>
        <a href="/authors"><span th:text="#{author.authors}">Authors</span></a><br>
        <a href="/books"><span th:text="#{book.books}">Books</span></a><br>
        <a href="/users"><span th:text="#{user.users}">Users</span></a><br>
        <a href="/orders"><span th:text="#{order.orders}">Orders</span></a><br>
    </body>
</html>