spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bookshop_repository
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        current_session_context_class: thread
        dialect: org.hibernate.dialect.PostgreSQL10Dialect
    open-in-view: false
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 476927973909-0b8db6qlt0ncr126j6ig8q8tmnurh2ue.apps.googleusercontent.com
            clientSecret: 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
            redirectUri: http://localhost:8080/login/oauth2/code/google
  messages:
    basename:   messages

logging:
  level:
    root: debug

springdoc:
  swagger-ui:
    oauth:
      client-id: 476927973909-0b8db6qlt0ncr126j6ig8q8tmnurh2ue.apps.googleusercontent.com
      client-secret: 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
    oauth2-redirect-url: http://localhost:8080/swagger-ui/oauth2-redirect.html

app:
  common:
    logging:
      enabled: true
      level: info