<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>author</title>
  </head>
      <body>
            <div th:insert="~{fragment :: header}"></div>
            <form th:action="@{/authors/create}" method="post" enctype="multipart/form-data">
                <label for="firstname"><span th:text="#{userDetails.firstname}">Firstname:</span>
                    <input id="firstname" type="text" name="firstname" value="Firstname" required>
                </label><br>
                <label for="lastname"><span th:text="#{userDetails.lastname}">Lastname:</span>
                    <input id="lastname" type="text" name="lastname" value="Lastname" required>
                </label><br>
                <label for="patronymic"><span th:text="#{userDetails.patronymic}">Patronymic:</span>
                    <input id="patronymic" type="text" name="patronymic" value="Patronymic">
                </label><br>
                <label for="birthday"><span th:text="#{author.birthday}">Birthday of author:</span>
                    <input id="birthday" type="date" name="birthday" value="birthday">
                </label>
                <label for="image"><span th:text="#{image}">Image:</span>
                    <input id="image" type="file" name="image">
                </label><br>
                <button type="submit"><span th:text="#{create}">Create</span></button>
            </form>
            <a href="/authors"><span th:text="#{author.authors}">Authors</span></a><br>
            <a href="/books"><span th:text="#{book.books}">Books</span></a><br>
            <a href="/users"><span th:text="#{user.users}">Users</span></a><br>
            <a href="/orders"><span th:text="#{order.orders}">Orders</span></a><br>
      </body>
</html>